#fullscreen {
  height: 100% !important;
  width: 100% !important;
  // border: 1px solid black;
}

#fullscreen-select {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  h1 {
    color: #798086;
  }
}
