#twobytwo {
  height: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #b0b0b0;
  .stream {
    width: 50%;
    height: 50%;
    .empty-slot {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #b0b0b0;
      p {
        font-size: 1.5em;
      }
    }
  }
}
